.market-view {
    justify-content: center;
}

.coin-header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-top: 30px;
    margin-right: 170px;
}

.coin-graph {
    display: flex;
    padding: 20px 0 0 50px;
    align-items: center;
}